<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }} - LGBTQ in Technology</title>
		<link rel="stylesheet" href="css/foundation.css">
		<link rel="stylesheet" href="css/styles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:title" content="{{ page.title }} - The LGBTQ in Technology Slack">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://lgbtq.technology{{ page.url }}">
		<meta property="og:description" content="{{ page.description | default: "The LGBTQ in Technology Slack is a space for LGBTQ people in technology to chat and support each other. We strive to keep it safe, positive, and confidential." }}">
	</head>

	<body>
		<nav class="top-bar navigation" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					<h1><a href="/">LGBTQ in Technology</a></h1>
				</li>
				<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>
			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					<li><a href="/">Home</a></li>
					<li><a href="/culture.html">Our Culture</a></li>
					<li><a href="/coc.html">Code of Conduct</a></li>
					<li><a href="https://github.com/lgbtq-technology/lgbtq-technology.github.io">Source Code</a></li>
				</ul>
			</section>
		</nav>
		<div class="container">
			{{ content }}
		</div>
		<div class="footer-container">
			<footer class="row">
				<div class="columns">
					This website is governed by the <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero license</a>; it’s public domain! Any and all use of this site’s content is allowed.
				</div>
			</footer>
		</div>
	</body>
</html>
